.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}
.wrapper {
  /* width: 40vw; */
  width: 500px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  padding: 30px;
  /* flex-wrap: wrap; */

  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.input_container {
  display: flex;

  margin-bottom: 20px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input_field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input_field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 70%;

  margin: auto;

  opacity: 0.9;
}
.btn button {
  border-radius: 50%;
}

.btn:hover {
  opacity: 1;
}

@media screen and (max-width: 400px) {
  .wrapper {
    width: 90vw;
  }
}
