@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css);
.container {
  position: relative;
  /* height: 100vh; */
  background-image: url("https://images.pexels.com/photos/1060489/pexels-photo-1060489.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;

  /* z-index: -1; */

  height: 100vh;

  /* color: white; */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url("https://images.pexels.com/photos/1060489/pexels-photo-1060489.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
      no-repeat center center / cover;

  background-color: rgb(74, 25, 25);
}
.content {
  position: absolute;
  /* top: 50%; */
  top: 30%;
  left: 50%;
  color: #fff;

  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */

  /* box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px; */

  /* background-color: #000; */
  /* opacity: 0.5; */
  /* background-color: red; */
  width: 350px;

  border-radius: 20%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  border-radius: 60px;

  transform: translate(-50%, -50%);
}
.icon {
  background-color: #f0f8fa;
  display: flex;
  flex: 3;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.icon img {
  height: 70px;
  width: 70px;
}
.data {
  display: flex;
  flex: 1;
}
.text {
  text-align: center;
  margin: auto;
}
.text h1 {
  font-family: "Open Sans";
}
.temp {
  text-align: center;
  margin: auto;
}
.left {
  display: flex;
  flex: 3;
  /* width: 70%; */
  width: 250px;
  height: 100px;
  border-bottom-left-radius: 10px;

  background-color: #2e3336;
}
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #4dbde2;
  height: 100px;
  width: 100px;
  border-bottom-right-radius: 10px;
}

.start {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 300px;
  flex-direction: column;
}
.title{
  display: flex;
  /* width: 80vw; */
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:400px) {
  .title{
    width: 90vw;
    margin-left: 10px;
    /* background-color: rebeccapurple; */
  }

  
}