.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.top {
  /* background-color: blue; */
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  /* background-color: blue; */
  height: 50vh;
  padding: 20px;
  width: 80vw;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.bottom {
  display: flex;
  align-items: center;

  /* justify-content: space-around; */
  height: 50vh;
  width: 50vw;
  margin: auto;
  margin-top: 100px;
}
.left {
  flex: 1;
  /* width: 45%;
  height: 80%; */
  width: 500px;
  height: 380px;
  padding: 40px;
  display: flex;
  /* margin-right:50px ;
  
  margin-bottom:50px; */

  margin: 50px 50px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.index {
  margin: 20px 0px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right {
  flex: 1;
  padding: 40px;

  width: 500px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.right span {
  font-weight: 800;
  margin-right: 10px;
}
.concentrations {
  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: center;
  font-size: 25px;
}
.result {
  font-size: 40px;
  color: rgb(201, 204, 13);
}

@media screen and (max-width: 1580px) {
  .bottom {
    flex-direction: column;

    /* background-color: red; */
  }
}

@media screen and (max-width: 400px) {
  .top {
    width: 100vw;
  }
  .left {
    width: 300px;
  }
  .right {
    width: 300px;
  }
}
