.container {
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  /* background-color: red; */
  font-family: "Gantari", sans-serif;
  /* width: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* width: 50%; */
  margin: auto;
  margin-top: 50px;
  width: 100vw;
  /* background-color: red; */
  /* height: 200px; */
  height: calc(100vh-70px);
}
.wrapper {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 35%;
  /* height:100%; */
  height: 350px;

  display: flex;

  margin: 30px 0px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 15px;
}

.heading {
  display: flex;
  width: 100%;
  /* background-color: red; */
  height: 60px;
  padding: 15px;
  flex: 1;
  background-color: darkgray;
  font-size: larger;

  align-items: center;
  justify-content: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.desc {
  display: flex;
  flex: 2;
  /* background-color: lightgray; */
  font-size: large;
  color: rgb(128, 117, 117);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: aqua; */

  width: 70%;
  height: 80px;
}
.desc p {
  width: 100%;
  overflow-wrap: break-word;
}
.link {
  flex: 1;
}
.link button {
  border: none;
  background-color: #1890ff;
  border-radius: 10px;
  padding: 10px 30px;
  border: none;
  margin-top: 15px;
}
.link a {
  text-decoration: none;
  font-size: 25px;

  color: white;
}

@media screen and (max-width: 500px) {
  .wrapper {
    width: 80%;
  }
}
